* {
    margin: 0;
    padding: 0;
}
.main-h1 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.tile-container{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tile {
    min-height: 400px;
    min-width: 400px;
    border-radius: 20px;
    background-color: green;
    margin: 16px;
}
.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}
